@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Pompiere|Roboto');
body,section{
	display: flex;
	flex-wrap: wrap;
}
body{
	font-size: 20px;
	background-color: #fafafa;
	margin: 0px;
	font-family: Lato;
}

p{
	font-size: 1em;
	width: 100%;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-align: center;
	color: #000000;
}

h1#title{
	font-family: Pompiere;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 2em;
	text-align: center;
	color: #1CB8DB;
	margin: auto;
}

header{
	width: 100%;
	background-color: #fff;
	height: 50px;
}

footer{
	width: 100%;
	background-color: #1CB8DB;
	/*height: 25px;*/
}

footer>p{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 0.8em;
	text-align: center;
	color: #FFF;
	margin: 5px auto;
}

input#currency_amount, p#convert_from,p#convert_to, select.currency{
	width: 100%;
	margin-bottom: 10px;
}

main{
	margin: auto 30px;
}

input#currency_amount{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	text-align: center;
	border: 1px solid #1CB8DB;
}