@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Pompiere|Roboto');
body,section{
	display: flex;
	flex-wrap: wrap;
}
body{
	font-size: 20px;
	background-color: #fafafa;
}

p{
	font-size: 1em;
	font-family: Lato;
	width: 100%;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-align: center;
	color: #000000;
}